<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/chest.png">
  <link rel="stylesheet" href="/assets/style.css" />
  <meta property="og:description" content="free file sharing service!" />
  <meta property="og:url" content="https://chest.oaktown.cc" />
  <meta property="og:image" content="/assets/chest.png" />
  <meta name="theme-color" content="#57332f" data-react-helmet="true"  />
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
