{% extends "templates/base.njk" %}
{% from "../components/nav.njk" import nav %}

{% block head %}
  <title>oak chest</title>
  <meta property="og:title" content="oak chest | public chest" />
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Public Chest</h1>
    <table>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Date</th>
      <tr>
      {% for file in publicUploads %}
        <tr>
          <td><a href="/uploads/{{ file.filename }}" target="_blank">{{ file.original_filename }}</a></td>
          <td>{{ file.size | formatBytes }}</td>
          <td>{{ file.create_time | time_format | escape }}</td>
        </tr>
      {% endfor %}
    </table>
    {{ nav("public") }}
  </div>
{% endblock %}
