{% extends "templates/base.njk" %}

{% block head %}
  <title>oak chest | rules</title>
  <meta property="og:title" content="oak chest | rules" />
  <meta property="og:description" content="free file sharing service!" />
  <meta property="og:url" content="https://chest.oaktown.cc" />
  <meta property="og:image" content="chest.png" />
  <meta name="theme-color" content="#57332f" data-react-helmet="true"  />
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Rules</h1>
    <ol>
      <li>Any illegal things uploaded with malicious intent such as viruses, CP, etc are not allowed</li>
      <li>No NSFW content is allowed</li>
    </ol>
    <p>I have the right to delete any of your files and even IP ban you if you violate these rules!!</p>
    <h1>API</h1>
    <p>
      You can use the API to upload files.
      <ul>
        <li>Method: <strong>POST</strong></li>
        <li>Parameters: <code>file=path/to/file.txt</code></li>
        <li>URL: <strong>https://chest.oaktown.cc/upload</strong></li>
        <li>Curl command: <code>curl -F "file=@path/to/file.txt" https://chest.oaktown.cc/upload</code></li>
      </ul>
    </p>
    <a href="/"><button style="width: 100px; height: 30px; margin-top:1rem" class="serverButton">Back</button></a>
  </div>
{% endblock %}
